.header-row {
  background: #7163AA;
  color: #fff;
  font-size: 16px;
}


.icons{
  cursor: pointer;
}
ion-col {
  border: 1px solid #ECEEEF;
}

.ion-text-center {
  overflow-wrap: anywhere;
}

.header-title{
  padding-top: 14px;
}
